*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary:#e9e8ff;
    --color-header:#cdcde6;
    --color-success:#06a506;
    --color-danger:#cb0c0c;
    --color-warning:#f5f50b;
    --color-font:#ffffffdb;
    --color-orange:#C35817;
    --color-blue:#167aa1;
    --color-pink:#b14355;
    --color-yellow:#aba007;
    --font: 'Montserrat', sans-serif;
    --transition:all 400ms ease;

    --container-width-large:80%;
    --container-width-medium:90%;
    --container-width-small:94%;
    
}

body{
    background: rgb(63,94,251);
    background: radial-gradient(circle,  rgba(4, 6, 27, 0.929) 10%, rgb(4, 6, 27) 100%),url('../images/pattern1.png');
    background-size: 40%;
    background-repeat:repeat;
    background-position: center;
    
    font-family: var(--font);
    line-height: 1.7;
    color: var(--color-font);
    height: 100vh;
}


.container{
    width: var(--container-width-large);
    margin: 0 auto;
   
}

section{
    padding: 3rem 0;
}
section h2{
    text-align: center;
    margin: 4rem;
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
    /* color: var(--color-orange); */
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-header);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background:white;
    color: black;
    padding: .8rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.btn:hover{
    background: transparent;
    color:white;
    border-color:white;
}

.btn-primary{
    padding: 1rem 2rem;
    background: var(--color-orange);
    color: var(--color-font);
}
.btn-primary:hover{
    border-color: var(--color-orange);
    color: var(--color-orange);
}



/**==========================  NAVBAR  =================================**/

nav{
    width: 100vw;
    height:4rem;
    position: fixed;
    top:0;
    z-index: 999;
    transition:all 400ms linear;
}

         /*======= CHANGE NAVBAR WHILE SCROLLING=======*/

.nav-scroll{
    background-color: rgba(0, 0, 0, 0.595);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.595);
}

         /*===========================================*/

.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}
.logo{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--color-orange);

}
.list{
    display: flex;
    align-items: center;
    gap:3.5rem;  /*space between each li*/
}
.list a{
    font-size: 1rem;
    font-weight:300;
    text-transform: uppercase;
    display: block;
    position: relative;
    letter-spacing: .1rem;
    transition: var(--transition);

}
.list a::before{
content: '';
position: absolute;
right: 0;
bottom: 0;
height:0;
border: 1px solid transparent;
border-left: none;
border-right: none;
width:100%;
z-index: -1;
transition: var(--transition);
}


.list a:hover::before{
    height: 100%;
    border-color: var(--color-orange);
}


.list a:hover{

padding: 2px;
color: var(--color-orange);
}

   /**==========================  MAIN  =================================**/


   main{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
 
   }
   .main{
display: grid;
grid-template-columns: 60% 40%;
align-items: center;
gap:4rem;
height: 100%;
   }

   .main-left p{
margin-block:1rem 2.4rem;
   }

   /**==========================  CATEGORIES  =================================**/

   .categories{
    background-color:rgb(22, 25, 51);
    height: 27rem;
   }
   .categories h1{
    line-height: 1;
    margin-bottom: 3rem;
   }
 

   .categories-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap:4rem;
   }

   .categories-left{
    width: 100%;
    position: relative;
    margin-right: 1rem;
   }

   .read-more{
    display: none;
   }
   .read-more-show{
    display: inline;
   }
   .categories-left p{
       margin: 1rem 0 2rem;
    }


  .categories-right{
    /* position: absolute;
    
    right:2%; */
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.6rem;
   }

   .category{
   
        background-color: rgba(83, 83, 115, 0.34);
        backdrop-filter: blur(8px);
        padding: 1rem 2rem;
        border-radius:2rem;
        width: 100%;
        transition: var(--transition);

       
   }
   .category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
   }
  
   .categ-icon{

    background-color: #C35817;
    justify-self: center;
    padding: 15px;
    border-radius: 4rem;
   }
   .category h4{
    margin: 2rem 0 1rem;
   }

   .category p{
    font-size: .9rem;
   }

   .category:nth-child(2) .categ-icon{
    background: var(--color-danger);
   }
   .category:nth-child(3) .categ-icon{
    background: var(--color-success);
   }
   .category:nth-child(4) .categ-icon{
    background: var(--color-blue);
   }
   .category:nth-child(5) .categ-icon{
    background: var(--color-pink);
   }
   .category:nth-child(6) .categ-icon{
    background: var(--color-yellow);
   }


      /**==========================  COURSES  =================================**/

      .courses{
        margin-top: 14em;
        background-color: rgba(0, 0, 0, 0.397);
      }  
     
      .courses h1{
         margin:2rem 9rem;
      }
      .courses-container{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         gap: 3rem;
     
      }   
     
      .course{
         background-color: rgba(83, 83, 115, 0.341);
         border:1px solid rgba(255, 254, 254, 0.193);
         padding: 2rem;
         border-radius:5px;
         display: flex;
         flex-direction: column;
         align-items: center;
      }
     
     
     .course-img{
      
     background-color:rgb(2, 2, 26);  
     border-radius:57% 43% 68% 32% / 59% 69% 31% 41% ;
     outline: 1px solid rgba(255, 254, 254, 0.375);
     
     outline-offset: 10px;
     outline-style:groove;
     margin-bottom:2rem;
     transition: var(--transition);
     overflow:hidden ;
     
      }
      .course-img  img{
         transition: var(--transition);
      }
      .course-img:hover img{
        transform: scale(0.9);
      
     
      }
      .course-img:hover{
         outline-offset: 4px;
       }
     
       .course h4{
       color: var(--color-orange);
       padding-block-end: 1rem;
       }
      
      .course p{
        font-size:.9rem;
        padding-block-end: 2rem;
         }
        .course a{
         padding: .8rem 1.5rem;
        }
     

  /**==========================  QUESTION ANSWER  =================================**/

  .faqs{
    background-color:rgb(22, 25, 51);
    box-shadow:inset 0 0 3rem rgba(0, 0, 0, 0.66);
   }

   .faqs-container{
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 1rem;
   }

   .faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-blue);
    cursor: pointer;
   }

   .faq h4{
    font-size: 1rem;
    font-weight: 800;
    line-height: 2.2;
    color:rgb(22, 25, 51);
   }


   .faq-icon{
    align-self: flex-start;
    font-size: 1.5rem;
   
   }
   
   .faq p{
    font-size: .9rem;
    display: none;
   }

   .faq.open p{
    display: block;
   }

  /**==========================  TESTIMONIALS  =================================**/ 
   
  .testimonials-container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
   }

   .testimonial{
    padding-top: 2rem;
   
   }

   .avatar{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 6px solid rgb(22, 25, 51);

   }
   .testimonial-info{
    text-align: center;
    margin-bottom: 1.8rem;
 
    
   }

   .testimonial-body{
    margin-top: 1%;
    background: var(--color-blue);
    padding: 1rem;
    position: relative;
    
    

   }
   .testimonial-body::before{
    content: '';
    display: block;
    position: absolute;
    top:-11px;
    left: 50%;
    width: 30px;
    height: 30px;
   transform: rotate(45deg);
    background: var(--color-blue);
   
   }


     
     

 









